@charset "utf-8";
html,
body,
.search-button-vpt {

}
html, body {overflow-x: hidden;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 25pt;
    margin: 0 auto;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background: #333;
    color: #BFBFBF;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
    z-index: -2;
}
ul, li {
    list-style: none;
}
a:hover,
button:hover {
    text-decoration: none;
    background-position: bottom;
    cursor: url("/cursors/Link.cur"), progress
}
.abutton:hover {
    color: #44ffff;
}
.breadcrumb a {
    color: #98FF00;
}
.bg_overlay {
    z-index: -1;
    background-color: rgba(0,20,20,0.70);
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    top: 0px;
}
#header {
    margin: 0 auto;
    padding: 0px 0px;
    position: relative;
}
#header_bar {
    margin: 0 auto;
    width: 100%;
    max-height: 260px;
}
#header_banner {
    margin: 0 auto;
    padding: 0px 0px;
    width: 100%;
}
#header_banner img.logo {
    position: absolute;
    top: 50px;
    left: 45%;
    margin: 0 auto;
    padding: 0px 0px;
    width: 180pt;
}
#top_menu {
    position: fixed;
    z-index: 201;
    width: 100%;
    height: 100pt;
    max-height: 100pt;
    background: -webkit-linear-gradient(bottom, rgba(0,20,20,1), rgba(0,20,20,1), rgba(0,0,0,0.3));
    background: -moz-linear-gradient(bottom, rgba(0,20,20,1), rgba(0,20,20,1), rgba(0,0,0,0.3));
    background: -ms-linear-gradient(bottom, rgba(0,20,20,1), rgba(0,20,20,1), rgba(0,0,0,0.3));
    background: -o-linear-gradient(bottom, rgba(0,20,20,1), rgba(0,20,20,1), rgba(0,0,0,0.3));
    background: linear-gradient(to bottom, rgba(0,20,20,1), rgba(0,20,20,1), rgba(0,0,0,0.3));
}
#menu_space {
    height: 100pt;
}
#container {
    /*background: #000000 url(/images/dark_brick_wall.png) repeat;*/
    margin: 0 auto;
    padding: 0px 0px;
    width: 100%;
    height: auto;
    position: relative;
}
#pagebody {
    height: auto;
}
#homepage {
    margin: 0 auto;
    padding: 0px 0px;
    width: 100%;
    float: left;
    position: relative;
}
.bg_overlay {
    width: 100%;
}
.titleBar {
    position: relative;
    padding: 5pt;
    height: 45pt;
    line-height: 35pt;
    color: rgba(120,250,250,1);
    border-top-width: thin;
    border-top-color: rgba(20,120,130,1);
    border-top-style: outset;
    font-size: 20pt;
    font-weight: 400;
    background: -webkit-linear-gradient(left,rgba(20,70,90,1), rgba(0,0,0,0));
}
.titleBar>span{
    color: rgba(250,250,50,1);
    top: 8px;
    left: 16px;
    position: absolute;
}
.titleBar>.findButtons{
    position: absolute;
    right: 0;
    top: 10pt;
}
.titleBar>.findButtons>span{
    color: rgba(120,250,250,1);
}
.titleBar a{
    font-size: 20pt;
    text-decoration: none;
    color: rgba(120,250,250,1);
    padding: 0pt 5pt;
}
.titleBar a:hover{
    color: #FFFFFF;
}
.titleBar .selected{
    color: #FFFFFF;
}
.hidden {
    display: none;
}

/* Danh sách Phim tại trang chủ */
.list_movies {
    margin: 0 auto;
    padding: 0px 0px;
}

.list_movies div.items {
    width: 95%;
    margin-left: 2.5%;
    position: relative;
}
.list_movies .item {
    width: 48%;
    margin: 1% 1%;
    position: relative;
    float: left;
}
.list_movies .item:before {
    content: "";
    display: block;
    padding-top: 150%;
}
.list_movies .item .play {
    display: none;
}
.list_movies .info {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.list_movies .info:hover {
    color: #00CCFF;
}
.list_movies .luotxem{
    float: left;
    background-color: rgba(0,0,0,0.60);
    color: #fff;
    font-size: 25pt;
    text-align: left;
    top: 0;
    padding: 0pt 5pt;
    display: block;
    position: absolute;
}
.list_movies .episode{
    font-weight: 700;
    right: 0;
    bottom: 65pt;
    padding: 0pt 5pt;
    position: absolute;
    color: #FFF;
    font-size: 25pt;
    float: right;
    background-color: rgba(114,14,255,0.80);
}
.list_movies div .thumb {
    width: 100%;
    height: 100%;
}
.list_movies .item_name {
    width: 98%;
    padding: 5pt;
    background: rgba(0,50,100,0.95);
    position: absolute;
    bottom: 0;
    left: -1pt;
}
.list_movies .item_name a{
    text-align: center;
    text-decoration: none;
}
.list_movies .item_name h2{
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFF!important;
    overflow: hidden;
    font-size: 25pt;
    font-weight: bold;
    padding: 10pt 5pt;
}
/* Paging */
.paging {
    width: 680px;
    text-align: center;
    float: left;
}
.pagination {
    margin-top: 5px;
}
.pagination>.disabled {
    color: #8f8f80;
}
.pagination>.active {
    color: #ffff4f;
}
.pagination>li {
    display: inline-block;
    border-color: #0f2f00;
    border-radius: initial;
    border-style: solid;
    border-width: thin;
    background: #000;
    padding: 0px 4px 0px 4px;
    font-size: 10pt;
}
.pagination>li>a{
    text-decoration: none;
    color: #0fff0f;
}

/* MEDIA PLAYER */
#player-container {
    position: relative;
    height: 0;
    overflow: hidden;
    /* 16x9 Aspect Ratio */
    padding-bottom: 56.25%;
}
#player-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#player {
    z-index: 200;
}
.video_player {
    width: 100%;
    z-index: 200;
    margin: 0;
    position: relative;
}
.video_detail {
    width: 100%;
    margin: 0;
    position: relative;
}
.video_detail>.video_img {
    margin: 0;
    position: absolute;
    right: 5pt;
    top: 10pt;
    width: 30%;
}
.video_detail>.video_info {
    position: relative;
    top: 0;
    padding: 0pt 10pt;
    float: left;
    width: 70%;
    min-height: 400pt;
}
.video_detail>.video_info>.video_name {
    color: #f80;
}
.video_detail>.video_info>.video_name>span {
    font-size: 40pt !important;
}
.video_detail>.video_info>.video_category {
    color: #cf0;
    font-size: 25pt;
}
.video_detail>.video_info>.video_category a{
    color: #0cc;
    font-size: 25pt;
}
.video_detail>.video_info>.video_ep {
    color: #cf0;
    font-size: 25pt;
}
.video_detail>.video_info>.video_release {
    color: #cf0;
    font-size: 25pt;
}
.video_detail>.video_info>.video_type {
    color: #cf0;
    font-size: 25pt;
}
.video_detail>.video_info>.video_type a{
    color: #0cc;
    font-size: 25pt;
}
.video_detail>.video_info>.video_description {
    color: #fff;
    font-size: 25pt;
}
.video_selection {
    width: 100%;
    float: left;
    position: relative;
    display: block;
}
.video_selection a{
    text-decoration: none;
    color: #0FF;
}
.video_selection a.active{
    text-decoration: none;
    color: #FFF;
}
.video_selection>.group {
    margin: 10pt;
    font-size: 25pt;
    width: 100%;
    display: inline-block;
}
.video_selection>.group>.title {
    color: #00FF00;
}
.video_selection>.group>.item {
    padding: 5pt 15pt;
    margin: 2pt 2pt;
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0,200,150,0.8);
    background-color: rgba(50,250,150,0.4);
}
.video_selection>.group>.item:hover {
    color: #FFF;
    border-color: rgba(50,250,150,0.9);
    background-color: rgba(50,250,50,0.9);
    cursor: url("/cursors/Link.cur"), progress
}
.video_selection .video_page_advertise {

}
.video_control_region{
    width: 100%;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    background: rgba(0,50,50,1);
}
.video_control {
    margin: 0 auto;
    width: 90%;
    height: 60pt;
    position: relative;
}
.video_control>.item {
    color: #FFCC00;
    float: left;
    padding-top: 10pt;
    width: 30%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video_control .item a {
    color: #FFFFFF;
    padding: 10pt 20pt;
    font-size: 30pt;
}
.video_control .item a:hover {
    color: #4488FF;
}
.shadow {
    background-color: #000;
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index:199;
}


/* LOGIN & SEARCH BOX*/

#top_menu #utilitiesRegion {
    width: 440px;
    float: right;
    padding-right: 100px;
}

#top_menu .search_region {
    position: relative;
    padding: 7px 5px;
    float: left;
    width: 340px;
}

#userBox {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 901;
}
#userBox>.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}
#userBox>.displayArea {
    width: 100%;
    position: relative;
    top: 10%;
}
#userBox>.displayArea>#RegisterForm {
    width: 100%;
    padding: 10pt;
    position: relative;
    background: rgba(0,0,0,0.8);
    background: -webkit-linear-gradient(left, rgba(0,0,20,0.8), rgba(0,0,20,1), rgba(0,0,20,0.8));
    background: -moz-linear-gradient(left, rgba(0,0,20,0.8), rgba(0,0,20,1), rgba(0,0,20,0.8));
    background: -ms-linear-gradient(left, rgba(0,0,20,0.8), rgba(0,0,20,1), rgba(0,0,20,0.8));
    background: -o-linear-gradient(left, rgba(0,0,20,0.8), rgba(0,0,20,1), rgba(0,0,20,0.8));
    background: linear-gradient(to left, rgba(0,0,20,0.8), rgba(0,0,20,1), rgba(0,0,20,0.8));
    border: thin #008 dashed;
    float: left;
}
#userBox>.displayArea>#LoginForm2 {
    width: 100%;
    padding: 10pt;
    position: relative;
    background: rgba(0,0,0,0.8);
    background: -webkit-linear-gradient(left, rgba(0,0,20,0.8), rgba(0,0,20,1), rgba(0,0,20,0.8));
    background: -moz-linear-gradient(left, rgba(0,0,20,0.8), rgba(0,0,20,1), rgba(0,0,20,0.8));
    background: -ms-linear-gradient(left, rgba(0,0,20,0.8), rgba(0,0,20,1), rgba(0,0,20,0.8));
    background: -o-linear-gradient(left, rgba(0,0,20,0.8), rgba(0,0,20,1), rgba(0,0,20,0.8));
    background: linear-gradient(to left, rgba(0,0,20,0.8), rgba(0,0,20,1), rgba(0,0,20,0.8));
    border: thin #008 dashed;
    float: left;
}
#userBox>.displayArea  .submitBtn {
    margin: 0 auto;
    width: 50px;
}
#userBox>.displayArea  .row {
    width: 100%;
    padding-top: 5pt;
    position: relative;
    height: 40pt;
}
#userBox>.displayArea  .row>.error {
    color: red;
    font-size: 19pt;
}
#userBox>.displayArea  .row>.error>span {
    word-wrap: break-word;
}
#userBox>.displayArea  .row>.col1 {
    width: 40%;
    float: left;
    height: 40pt;
}
#userBox>.displayArea  .row>.col1>span {
    float: right;
    font-size: 25pt;
}
#userBox>.displayArea  .row>.col2 {
    width: 40%;
    float: left;
}
#userBox>.displayArea  .row>.col2>input {
    width: 100%;
    border: 0;
    height: 40pt;
    font-size: 25pt;
}
#userBox>.displayArea  .row>.col2>.submitBtn {
    width: 50%;
    border: 0;
    font-size: 25pt;
}

#AdvancedSearch {
    width: 680px;
    float: left;
}
#AdvancedSearch>div {
    margin-left: 15px;
}
#AdvancedSearch .inputBox {
    display: inline;
}
#AdvancedSearch .type_selection>.title {
    font-size: 11pt;
    font-weight: bold;
    padding: 20px 0px 5px 0px;
    color: #8F5;
}
#AdvancedSearch .type_selection>.typeCbox {
    width: 140px;
    display: inline;
    font-size: 11pt;
}

.search_movies>div.items {
}
.search_movies .paging {
}

#top_menu .login_region {
    position: relative;
    float: right;
}

#btnLogin {
    background: #ff3b73;
    background-image: -webkit-linear-gradient(top, #4f8797, #4c8797, #4f8797);
    background-image: -moz-linear-gradient(top, #4f8797, #4c8797, #4f8797);
    background-image: -ms-linear-gradient(top, #4f8797, #4c8797, #4f8797);
    background-image: -o-linear-gradient(top, #4f8797, #4c8797, #4f8797);
    background-image: linear-gradient(to bottom, #4f8797, #4c8797, #4f8797);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    font-size: 10pt;
    padding: 5px;
    text-decoration: none;
    line-height: 40px;
}
#btnLogin:hover {
    background: #c40e0e;
    background-image: -webkit-linear-gradient(top, #6fa7e7, #6ca7b7, #8fa7b7);
    background-image: -moz-linear-gradient(top, #6fa7e7, #6ca7b7, #8fa7b7);
    background-image: -ms-linear-gradient(top, #6fa7e7, #6ca7b7, #8fa7b7);
    background-image: -o-linear-gradient(top, #6fa7e7, #6ca7b7, #8fa7b7);
    background-image: linear-gradient(to bottom, #6fa7e7, #6ca7b7, #8fa7b7);
    text-decoration: none;
}

#btnLogout {
    background: #ff2727;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    font-size: 10pt;
    padding: 5px;
    text-decoration: none;
    line-height: 40px;
}
#btnLogout:hover {
    background: #af0707;
    text-decoration: none;
}

.loginForm {
    position: absolute;
    left: -80px;
    background-color: rgba(20,180,150,0.8);
    width: 220px;
    padding: 5px;
    display: block;
    display: none;
}
.loginForm input {
    display: block;
}

/* USER CONTROL PANEL */

#userCP {
    position: fixed;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#userCP>.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 20, 20, .95);
    z-index: 1;
}
#userCP>.displayArea {
    width: 100%;
    z-index: 2;
    position: relative;
}
#userCP .bookmarks{
    overflow:auto;
}
#userCP .bookmarks>span{
    font-weight: 800;
    font-size: 30pt;
    color: yellowgreen;
}

#userCP .bookmarks>ul>li{
    padding: 0px 50px;
}

#userCP .bookmarks>ul>li>a{
    font-size: 30pt;
    color: white;
    text-decoration: none;
}
#userCP .bookmarks>ul>li>.delBtn{
    color: red;
    float: right;
}

/* FOOTER */
#footer {
    width: 100%;
    height: 120px;
    font-size: 20pt;
    display: block;
    float: right;
}